.images img {
	max-width: 100%;
	height: auto;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$bg-light:#FFCDD2
;
// $bg-white: rgb(250, 250, 250);
.card-body-about{
	background-color: $bg-light;
}


// $bg-light: rgb(4, 9, 12);
// // $bg-white: rgb(250, 250, 250);
// .card-body {
// 	border-color: $bg-light;
// 	border: 2px;
// }

// .row{
// 	background-color: $bg-white;
// }
